:root {
  --bg0: #06080F;
  --bg1: #0C0F1D;
  --bg2: #12172B;
  --bg3: #181F3A;
  --bg4: #1E2648;
  --bg5: #242D56;

  --outline1: #5265B7;

  --error0: #de7958;

  --accent0: #8F5800;
  --accent1: #A36500;
  --accent2: #B87100;
  --accent3: #CC7E00;
  --accent4: #E08A00;

  --text0: #BDB59E;
  --text1: #C5BEAA;
  --text2: #CDC7B6;
  --text3: #D6D1C2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  /* padding-top: 8vh;
  padding-bottom: 8vh;
  padding-left: 12vw;
  padding-right: 12vw; */
  min-height: 100vh;
  color: var(--text3);
  background: var(--bg0);
  line-height: 1.6;
  font-family: Roboto;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

input{
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text3);
  padding: 10px 10px;
  font-weight: 500;
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
