name: Deploy
on:
  push:
    branches: [ master ]

jobs:
  job_one:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: testing ssh connection
        uses: appleboy/ssh-action@master
        with: 
          host: soulforger.net
          username: simeon
          key: ${{ secrets.SSH_KEY }}
          port: 25540
          script: |
            cd dsa.soulforger.net/frontend/
            git pull origin master
            npm i
            npm run build
            cp -r * /var/www/soulforger.net/
            
