name: Deploy Beta
on:
  push:
    branches: [ staging ]

jobs:
  job_one:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: connecting and deploying to staging
        uses: appleboy/ssh-action@master
        with: 
          host: soulforger.net
          username: simeon
          key: ${{ secrets.SSH_KEY }}
          port: 25540
          script: |
            cd dsa.soulforger.net/beta_frontend/
            git pull origin staging
            npm i
            npm run build
            cp -r dist/* /var/www/beta.soulforger.net/
            
